@model IEnumerable<ClubMemberManagement.UI.ViewModels.MemberPaymentVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MembershipPayment.Member.Vorname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipPayment.Member.Nachname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipPayment.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipPayment.IsPayed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipPayment.MembershipFee.Bezeichnung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipPayment.MembershipFee.Betrag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BezahlterBetrag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipPayment.Member.Vorname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipPayment.Member.Nachname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipPayment.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipPayment.IsPayed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipPayment.MembershipFee.Bezeichnung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipPayment.MembershipFee.Betrag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BezahlterBetrag)
            </td>
            <td>

                <a class="btn btn-light" asp-controller="PaymentHistorie" asp-action="Create" asp-route-id="@item.MembershipPayment.Id">Betragszahlung eintragen</a>
                <a class="btn btn-light" asp-controller="PaymentHistorie" asp-action="Index" asp-route-id="@item.MembershipPayment.Id">Übersicht Betragszahlungen</a>
            </td>
        </tr>
}
    </tbody>
</table>
