@model IEnumerable<ClubMemberManagement.UI.Models.Member>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>





<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vorname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nachname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geburtstag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vereinseintritt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Straße)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hausnummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PLZ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Land)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vorname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nachname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geburtstag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vereinseintritt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Straße)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hausnummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PLZ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Land)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
