@model IEnumerable<ClubMemberManagement.UI.Models.MembershipFee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bezeichnung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Betrag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiltAb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiltBis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeRule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearsInClub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearsInClubRule)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bezeichnung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Betrag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiltAb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiltBis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeRule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsInClub)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsInClubRule)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
