@model IEnumerable<ClubMemberManagement.UI.Models.PaymentHistory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Payed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberPayments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Payed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberPayments.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
